.logo-ufsm {
    width: 50%;
    max-width: 100px;
    margin-left: 3%;
}

.menu{
    list-style:none;
    float:right;
    margin: auto;
}

.menu li{
    position:relative;
    float:left;
    margin-top: 2rem;
    margin-right: 50px;
}

.headerlog  {
   background: #fff;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100px;
}

.copyright {
    background-color: black;
}

#sobrenos {
    margin-top: 200px;
    margin-bottom: 200px;
}

#apoiadores {
    margin-top: 200px;
    margin-bottom: 200px;
}

.menu .nav-link {
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding: 0 10px;
    position: relative;
    display: inline-block;
    transition: all 0.3s ease 0s;
}


/* Mobile */

@media (max-width: 768px) {

    .logo-ufsm {
        margin: auto;
        display: block;
        max-width: 75px;
    }
    
    .menu{
        list-style:none;
        float:left;
        margin: auto;
        width: 200px;
    }

    .headerlog  {
        background: #fff;
        position: relative;
        width: 100%;
        height: 100px;
        display:inline-block;
    }

    .banner-main {
        display:inline-block;
        width: 500px;
        height: 500px;
    }

    .headerlog.index {
        margin-bottom: 200px;
    }

    .mt-2 {
        display: none;
    }

    .headerlog.seusvotos {
        margin-bottom: 100px;
    }
}