

/*--------------------------------------------------------------------- File Name: responsive.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,400,600,700,900&display=swap');

/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(slick.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
     box-sizing: border-box !important;
}

html {
     scroll-behavior: smooth;
}

body {
     color: #666666;
     font-size: 14px;
     font-family: 'Raleway', sans-serif;
     line-height: 1.80857;
     font-weight: normal;
}

a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: normal;
     color: #111111;
     margin: 0
}

h1 {
     font-size: 24px;
}

h2 {
     font-size: 22px;
}

h3 {
     font-size: 18px;
}

h4 {
     font-size: 16px
}

h5 {
     font-size: 14px
}

h6 {
     font-size: 13px
}

*,
*::after,
*::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
     color: #212121;
     text-decoration: none!important;
     opacity: 1
}

button:focus {
     outline: none;
}

ul,
li,
ol {
     margin: 0px;
     padding: 0px;
     list-style: none;
}

p {
     margin: 0px;
     font-weight: 500;
     font-size: 15px;
     line-height: 24px;
}

a {
     color: #222222;
     text-decoration: none;
     outline: none !important;
}

a,
.btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

img {
     max-width: 100%;
     height: auto;
}

 :focus {
     outline: 0;
}

.btn-custom {
     margin-top: 20px;
     background-color: transparent !important;
     border: 2px solid #ddd;
     padding: 12px 40px;
     font-size: 16px;
}

.lead {
     font-size: 18px;
     line-height: 30px;
     color: #767676;
     margin: 0;
     padding: 0;
}

.form-control:focus {
     border-color: #ffffff !important;
     box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
     border: none !important;
}

.badge {
     font-weight: 500;
}

blockquote {
     margin: 20px 0 20px;
     padding: 30px;
}

button {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
}

.full {
     float: left;
     width: 100%;
}

.layout_padding {
     padding-top: 90px;
     padding-bottom: 90px;
}

.layout_padding_2 {
     padding-top: 75px;
     padding-bottom: 75px;
}

.light_silver {
     background: #f9f9f9;
}

.theme_bg {
     background: #38c8a8;
}

.margin_top_30 {
     margin-top: 30px !important;
}

.full {
     width: 100%;
     float: left;
     margin: 0;
     padding: 0;
}


/**-- heading section --**/


/*---------------------------- preloader area ----------------------------*/

.loader_bg {
     position: fixed;
     z-index: 9999999;
     background: #fff;
     width: 100%;
     height: 100%;
}

.loader {
     height: 100%;
     width: 100%;
     position: absolute;
     left: 0;
     top: 0;
     display: flex;
     justify-content: center;
     align-items: center;
}

.loader img {
     width: 280px;
}


/*-- navigation--*/

.navigation.navbar {
     float: right;
     padding: 0px;
}

.navigation.navbar-dark .navbar-nav .nav-link {
     padding: 0 25px;
     color: #000;
     font-size: 16px;
     line-height: 20px;
     font-weight: 500;
     text-transform: uppercase;
}

.navbar-expand-md .navbar-nav {
     padding-right: 10px;
}

.sign_btn a {
     display: inline-block;
     padding: 7px 35px;
     color: #eb699e;
     font-size: 17px;
}


/*-- header area --*/


/*--------------------------------------------------------------------- top banner area ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- layout new css ---------------------------------------------------------------------*/

.header {
     width: 100%;
     background: transparent;
     position: absolute;
     padding: 20px 30px;
}

.logo a {
     font-size: 40px;
     font-weight: bold;
     text-transform: uppercase;
     color: #000;
     line-height: 40px;
}


/** banner section **/

.banner_main {

     background: url(../images/banner_SITE_VOTACAO.png);
     background-repeat: no-repeat;
     background-size: 100%;
     background-position:0px, 100px;
     /* background-color:  #232323;   */
     opacity: 100%;


     height: 500px;

     
     display: flex;
     justify-content: right;
     align-content: center;
     align-items: center;
   
     margin-top: 65px;
}

.text-bg {
     text-align: end;
     float: right;
     max-width: 539px;
     width: 100%;
     
}

.text-bg h1 {
     color: rgb(0, 0, 0);
     margin-top: 20px;
     font-size: 58px;
     line-height: 60px;
     padding-bottom: 15px;
     font-weight: bold;
}

.text-bg span {
     color: #eb699e;
     font-size: 45px;
     line-height: 50px;
     font-weight: bold;
     padding-bottom: 20px;
     display: block;
}

.text-bg p {
     color: rgb(0, 0, 0);
     font-size: 24px;
     line-height: 24px;
     padding-bottom: 30px;
}

.text-img figure {
     margin: 0;
}

.text-img figure img {
     width: 100%;
}

.text-bg .read_more {}

.text-bg .read_more:hover {}

.titlepage {
     text-align: center;
     padding-bottom: 60px;
}

.titlepage h2 {
     font-size: 45px;
     color: #3e3e3e;
     line-height: 50px;
     font-weight: bold;
     padding-bottom: 20px;
}

.d_flex {
     display: flex;
     align-items: center;
     flex-wrap: wrap;
}


/** banner section **/


/** Features section **/

.Features {
     background: #fff;
     margin: 90px 0;
}

.Features .titlepage h2 {
     color: #262626;
     padding: 0 33px;
     font-weight: 501;
}

.Features .titlepage span {
     font-size: 17px;
     line-height: 30px;
     color: #eb699e;
     font-weight: 501;
     display: block;
     padding-top: 10px;
     text-transform: uppercase;
}

.Features .Our_box {
     box-shadow: #ddd 0px 0px 10px 0px;
     border-radius: 20px;
     text-align: center;
     margin-bottom: 30px;
     padding: 60px 0;
}

.Features .Our_box h4 {
     font-size: 20px;
     line-height: 30px;
     font-weight: 501;
     padding-top: 30px;
     padding-bottom: 0;
}

.Features .read_more {
     color: #eb699e;
     margin: 0 auto;
     display: block;
     margin-top: 30px;
}

.Features .read_more:hover {
     color: #fff;
     background: #000;
}


/** end Features section **/


/** discount section **/

.discount {
     background: url(../images/disco.jpg);
     background-repeat: no-repeat;
     height: 700px;
     background-size: 100% 100%;
     background-position: center;
     display: flex;
     align-items: center;
     flex-wrap: wrap;
}

.discount .titlepage {
     padding-bottom: 0;
}

.discount .titlepage h2 {
     color: #fff;
     padding: 0 33px;
     font-weight: 501;
}

.discount .titlepage span {
     font-size: 17px;
     line-height: 28px;
     color: #fff;
     font-weight: 500;
     display: block;
     padding: 30px 0px 50px 0px;
}

.discount .titlepage .read_more {
     color: #eb699e;
}

.discount .titlepage .read_more:hover {
     color: #eb699e;
}


/** end discount section **/

.read_more {
     font-size: 17px;
     background-color: transparent;
     border: #eb699e solid 2px;
     color: #eb699e;
     padding: 13px 0px;
     width: 100%;
     max-width: 190px;
     text-align: center;
     display: inline-block;
     transition: ease-in all 0.5s;
}

.read_more:hover {
     background: #fff;
     color: #eb699e;
     transition: ease-in all 0.5s;
}


/** request section **/

.request .titlepage span {
     font-size: 17px;
     line-height: 28px;
}

.request {
     padding: 90px 0;
}

.main_form {
     padding: 40px 30px;
     background: #eb699e;
}

.main_form .contactus {
     border: #f6c2d7 solid 1px;
     padding: 0px 19px;
     margin-bottom: 20px;
     width: 100%;
     height: 45px;
     background: transparent;
     color: #f5bed2;
     font-size: 16px;
     font-weight: 500;
     border-radius: 20px;
}

.main_form .textarea {
     border: #f6c2d7 solid 1px;
     padding: 0px 19px;
     margin-bottom: 20px;
     width: 100%;
     background: transparent;
     color: #f5bed2;
     font-size: 16px;
     font-weight: 500;
     border-radius: 15px;
     padding-top: 35px;
}

.main_form .send_btn {
     font-size: 17px;
     transition: ease-in all 0.5s;
     background-color: #efb68d;
     color: #fff;
     padding: 13px 0px;
     margin: 0 auto;
     max-width: 200px;
     width: 100%;
     display: block;
     font-weight: 500;
     text-transform: uppercase;
     border-radius: 35px;
}

.main_form .send_btn:hover {
     background-color: #000;
     transition: ease-in all 0.5s;
     color: #fff;
}

#request *::placeholder {
     color: #f5bed2;
     opacity: 1;
}

.back_img {
     padding-top: 12%;
}

.back_img figure {
     margin: 0;
}

.back_img figure img {
     width: 100%;
}


/** end request section **/


/** people section **/

.people {
     padding: 90px 0 141px 0;
     background: url(../images/cli.jpg);
     background-size: cover;
     background-repeat: no-repeat;
}

.people .titlepage h2 {
     color: #fff;
}

.people .titlepage span {
     font-size: 17px;
     line-height: 28px;
     color: #fff;
     font-weight: 500;
}

.people_Carousel .carousel-caption {
     position: inherit;
     padding: 0;
}

.people_box {
     text-align: center;
}

.test_box {
     padding: 30px 25px;
     background: #fff;
}

.people_Carousel .test_box h4 {
     font-size: 21px;
     color: #3c3c3d;
     line-height: 18px;
     display: block;
     font-weight: 600;
     padding: 0;
}

.people_Carousel .test_box p {
     font-size: 17px;
     line-height: 28px;
     color: #3c3c3d;
     padding-top: 20px;
}

.people_Carousel .carousel-indicators {
     bottom: -50px;
}

.people_Carousel .carousel-indicators li {
     width: 20px;
     height: 20px;
     background: #f2e0ab;
     border-radius: 10px;
}

.people_Carousel .carousel-indicators li.active {
     background: #eb699e;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
     display: none;
}


/** end people section **/


/** footer **/

.multi {
     color: #daccfd;
}

.footer {
     margin-top: 90px;
     background: #232323;
     padding-top: 85px;
     text-align: center;
}

.footer .titlepage {
     text-align: left;
     padding-bottom: 10px;
}

.footer .titlepage h2 {
     color: #e95d49;
}

.cont {
     padding-top: 20px;
     text-align: center;
}

.cont h3 {
     color: #fff;
     font-size: 45px;
     line-height: 66px;
     font-weight: bold;
}

.cont p {
     color: #fff;
     font-size: 17px;
     line-height: 30px;
     padding-top: 20px;
     font-weight: 501;
}

.bottom_form {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     padding-top: 50px;
}

.bottom_form .enter {
     border: inherit;
     padding: 0px 19px;
     width: 73%;
     height: 49px;
     background: #fff;
     color: #000;
     font-size: 16px;
     font-weight: 500;
     border-radius: 35px;
}

.sub_btn {
     font-size: 17px;
     transition: ease-in all 0.5s;
     background-color: #efb68d;
     color: #fff;
     padding: 5px 0px;
     max-width: 192px;
     width: 100%;
     display: block;
     font-weight: 500;
     text-transform: uppercase;
     border-radius: 35px;
     border: #fff solid 4px;
     margin-left: -40px;
}

.sub_btn:hover {
     background-color: #eb699e;
     transition: ease-in all 0.5s;
     color: #fff;
}

.copyright {
     margin-top: 90px;
     border-top: #6f6c6c solid 1px;
     padding: 20px 0px;
     background-color: transparent;
}

.copyright p {
     color: #fff;
     font-size: 18px;
     line-height: 22px;
     text-align: center;
}

.copyright a {
     color: #fff;
}

.copyright a:hover {
     color: #eb699e;
}


/** end footer **/
