{% load static %}

        <section class="recent-posts">
            <div class="section-title">
                <h2><span>Todas as fotos</span></h2>
            </div>
            <div class="card-columns listrecent">
                {% for post in postagens %}
                <div class="card">
                    <a href="{% url 'sobre' post.id %}">
                        <img class="featured-image img-fluid" src="{{post.imagem}}" alt="Ampliar Foto" >
                    </a>
                    <div class="card-block">
                        <h2 class="card-title"><a href="post.html"></a></h2>
                        <h4 class="card-text mr-2 ml-2">{{post.desc}}</h4>
                        <div class="metafooter">
                            <div class="wrapfooter">
                                {% if user.is_staff %}
                                <span class="post-date">
                                Votos: <strong>{{post.voto}} </strong>
                                </span>
                                {%else%}
                                <div  class="float-left mb-2 ml-2"> Foto: {{post.id}}</div> 
                                <div  class="float-right mb-2 mr-2" >
                                    {% if not post.eleitor %}
                                    <a href="{% url 'voto' post.id%}" title="Vote na foto {{post.id}}">
                                        <img src="{% static 'img/notsave.png'%}"  alt="Vote na publicacao" width="23" height="23">
                                    </a>
                                    {% else %}
                                    <a href="{% url 'alterar' post.id%}" title="Retirar Voto {{post.id}}">
                                        <img src="{% static 'img/savei.png'%}" alt="Voce ja votou nessa publicacao" width="23" height="23">
                                    </a>
                                    {% endif%}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
   