{% load static %}
{% load bootstrap4 %}
{% block nav %}
<nav class="navbar navbar-toggleable-md navbar-light bg-white fixed-top mediumnavigation">
  <button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="container">
    <a class="navbar-brand" href="{% url 'index' %}" >
      <img src="{% static 'img/logo.png' %}" alt="logo">
    </a>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
        <a class="nav-link" href="{% url 'index' %}" >Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'seusvotos' %}">Seus Votos</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'logout'%}" >Sair</a>
        </li>
      </ul>
    </div>
  </div>
  </nav>
{% endblock nav %}