


{% load static %}
{% load  bootstrap4 %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="{% static 'img/favicon.ico' %} ">
{% block title %}
	<title>Concurso de Fotografia - UFSM-FW </title>
{% endblock title %}
<link href="{% static 'css/bootstrap.min.css' %} " rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/changes.css' %} ">
<link rel="stylesheet" href="{% static 'css/styles.css' %} ">

<link href="{% static 'css/mediumish.css' %}" rel="stylesheet">
</head>
<body>
{% bootstrap_messages %}


<div class="headerlog seusvotos">
	<a href="{% url 'index' %}" >
	  <img class="logo-ufsm" src="{% static 'img/logo.png' %}">
	</a>
	<ul class="menu">
        <li class="nav-item active">
        <a class="nav-link" href="{% url 'index' %}" >Voltar<span class="sr-only">(current)</span></a>
        </li>
    </ul>
</div>
<div class="container">
	<div class="mainheading">
		<h1 class="sitetitle">Seus Votos</h1>
		<p class="lead">
			Votação de imagens de pontos turisticos da região
		</p>
	</div>
	<section class="featured-posts">
        <div class="section-title">
            <h2><span>Seus votos</span></h2>
        </div>
        <div class="card-columns listfeaturedtag">
            {% for voto in votos %}
                <div class="card">
                    <div class="row">
                        <div class="col-md-5 wrapthumbnail">
                                <div class="thumbnail" style="background-image:url({{voto.postagem.imagem.url}});">
                                </div>
                            </a>
                        </div>
                        <div class="col-md-7">
                            <div class="card-block">
                                <h2 class="card-title">{{voto.postagem.titulo}}</a></h2>
                                <h4 class="card-text">{{voto.postagem.descricao}}</h4>
                                <div class="metafooter">
                                    <div class="wrapfooter">
                                        <span class="meta-footer-thumb">
                                            <a><img class="author-thumb"
                                                    src="https://www.gravatar.com/avatar/e56154546cf4be74e393c62d1ae9f9d4?s=250&amp;d=mm&amp;r=x"
                                                    alt="Sal"></a>
                                        </span>
                                        <span class="author-meta">
                                            <span class="post-name">Voce votou na postagem : {{voto.postagem.id}}</span><br />
                                            <span class="post-date"></span><span class="dot"></span><span
                                                class="post-read"></span>
                                        </span>
                                        <span class="post-read-more">
                                            <a href="{% url 'alterar' voto.postagem.id%}" title="Deletar Voto">
                                            <img  src="https://th.bing.com/th/id/R.4254664e04faeda0fbbbe31a522c1143?rik=8XNQOC%2fYw0RhMw&riu=http%3a%2f%2fcdn.onlinewebfonts.com%2fsvg%2fimg_522902.png&ehk=Dr6GRudG6OjSKayhniyKAH2TajWVHEgd3Otcg8fuKM8%3d&risl=&pid=ImgRaw&r=0" alt="" class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25">
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    </section>
	<div class="footer">
		<p class="pull-left">
			 Copyright &copy; 2022 UFSM-FW
		</p>
		<p class="pull-right">	 
		</p>
		<div class="clearfix">
		</div>
	</div>
</div>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="{% static  'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/ie10-viewport-bug-workaround.js' %} "></script>
</body>
</html>
