{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="{% static 'img/favicon.ico' %} ">
{% block title %}
	<title>Concurso de Fotografia - UFSM-FW </title>
{% endblock title %}
<link href="{% static 'css/bootstrap.min.css' %} " rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/changes.css' %} ">
<link rel="stylesheet" href="{% static 'css/styles.css' %} ">

<link href="{% static 'css/mediumish.css' %}" rel="stylesheet">
</head>
<body>
{% bootstrap_messages %}

<div class="headerlog seusvotos">
	<a href="{% url 'index' %}" >
	  <img class="logo-ufsm" src="{% static 'img/logo.png' %}">
	</a>
	<ul class="menu">
        <li class="nav-item active">
        <a class="nav-link" href="{% url 'index' %}" >Voltar<span class="sr-only">(current)</span></a>
        </li>
    </ul>
</div>
<div class="graybg">
	<div class="container">
		<div class="center col-md-offset-2 col-xs-12">
            <div class="mainheading">
                <a href="{% url 'index' %}" alt="Voltar para a index">
                    <img class="featured-image img-fluid"src="{{postagem.imagem.url}}"  width="900" >
                </a>
                
            </div> 
        </div>
    </div>
<div class="footer">
    <p class="pull-left">
         Copyright &copy; 2022 UFSM-FW
    </p>
    <p class="pull-right">	 
    </p>
    <div class="clearfix">
    </div>
</div>
</div>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="{% static  'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/ie10-viewport-bug-workaround.js' %} "></script>
</body>
</html>
