{%load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-br">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <title>Concurso Fotográfico</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="icon" href="{% static 'img/favicon.ico' %} ">
   
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %} ">
   
      <link rel="stylesheet" href="{% static 'css/style.css' %} ">
  
      <link rel="stylesheet" href="{% static 'css/responsive.css' %} ">
  
      <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %} ">

      <link rel="stylesheet" href="{% static 'css/changes.css' %} ">

     
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <style>
         /* Shared */
         .loginBtn {
         width: 230px;
         box-sizing: border-box;
         position: relative;
         /* width: 13em;  - apply for fixed size */
         margin: 0.2em;
         padding: 0 15px 0 46px;
         border: none;
         text-align: left;
         line-height: 34px;
         white-space: nowrap;
         border-radius: 0.2em;
         font-size: 16px;
         color: #FFF;
         }
         .loginBtn:before {
         content: "";
         box-sizing: border-box;
         position: absolute;
         top: 0;
         left: 0;
         width: 34px;
         height: 100%;
         }
         .loginBtn:focus {
         outline: none;
         }
         .loginBtn:active {
         box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
         }


         /* Facebook */
         .loginBtn--facebook {
         background-color: #4C69BA;
         background-image: linear-gradient(#4C69BA, #3B55A0);
         /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
         text-shadow: 0 -1px 0 #354C8C;
         }
         .loginBtn--facebook:before {
         border-right: #364e92 1px solid;
         background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
         }
         .loginBtn--facebook:hover,
         .loginBtn--facebook:focus {
         background-color: #5B7BD5;
         background-image: linear-gradient(#5B7BD5, #4864B1);
         }


         /* Google */
         .loginBtn--google {
         /*font-family: "Roboto", R oboto, arial, sans-serif;*/
         background: #DD4B39;
         }
         .loginBtn--google:before {
         border-right: #BB3F30 1px solid;
         background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
         }
         .loginBtn--google:hover,
         .loginBtn--google:focus {
         background: #E74B37;
         } 
   </style>
 
   </head>
   <body class="main-layout"style="height:60vh;">
      <div class="headerlog">
           <a href="{% url 'index' %}" >
             <img class="logo-ufsm" src="{% static 'img/logo.png' %}">
           </a>
            <ul class="menu">
               <li><a class="nav-link" href="#concurso">Concurso</a></li>
               <li><a class="nav-link" href="#sobrenos">Sobre nós</a></li>
               <li><a class="nav-link" href="#apoiadores">Apoiadores</a></li>
            </ul>
      </div>  
      <section class="banner_main" >
      </section>
      <div class="container-fluid" id="concurso">
         <div class="row d_flex">
            <div class="col">
               <div class="text-bg">
                       
                  <div class="padding_lert">
                  
                     <h1 class = "h1-alter">Concurso Fotográfico 2022</h1>
                     <span style="font-size: 26px;">Vote nas suas três fotografias favoritas!</span>
                     <p>
                        Ajude-nos a escolher as 12 fotografias que farão parte do Calendário Institucional 2023 da UFSM-FW. Convido-lhes a conhecer as fotografias do Concurso Fotográfico 2022 que busca mostrar as belezas existentes no município de Frederico Westphalen, naturais e arquitetônicas, revelando o potencial turístico.
                     </p>
                     {{rest}}
                     {% if validate == 1 %}
                     <div class="col-md-8 mx-auto social-container my-2 order-md-1">
                        <a class=" mb-2" href="{% url 'social:begin' 'google-oauth2' %}">
                           <button class="loginBtn loginBtn--google">
                              Login Com o Google
                           </button>
                        </a>
                        <a  href="{% url 'social:begin' 'facebook' %}">
                           <button class="loginBtn loginBtn--facebook">
                              Login Com o Facebook
                           </button>
                        </a>   
                    </div>
                    
                    {% else %}
                       
                     <div class="col-md-8 mx-auto social-container my-2 order-md-1">
                        <a class="mb-2">
                           <button class="loginBtn loginBtn--google" disabled>
                              Login Com o Google
                           </button>
                        </a>
                        <a>
                           <button class="loginBtn loginBtn--facebook" disabled>
                              Login Com o Facebook
                           </button>
                        </a>   
                     </div>
                     {% endif %}
                  </div>
               </div>
            </div>
            <div class="col-md-6">
               <div class="text-img">
                  <img  class="mt-2"src="{% static 'images/lado.png' %} " width="300" alt="">
               </div>
            </div>
         </div>
      </div>

      <section class="Features" id="sobrenos">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2> Sobre nós</h2>
                     <!-- <span>looking at its layout. The point of using Lorem Ipsumreadable content of a page when looking at its layout.</span> -->
                  </div>
               </div>
            </div>
            <div class="row center">
               <div class="col-md-12">
                  <div id="myCarousel" class="carousel slide people_Carousel " data-ride="carousel">
                     <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>       
                     </ol>
                     <div class="carousel-inner">
                        <div class="carousel-item active" >
                           <div class="container" >
                              <div class="carousel-caption ">
                                 <div class="row">
                                    <div class="col-md-8 offset-md-2">
                                       <div class="test_box" >
                                          <h4>O que somos?</h4>
                                          <p>O Concurso Fotográfico 2022 é promovido pelo Projeto de Extensão da UFSM-FW (edital COREDES) “Revelando Frederico Westphalen: Seu Olhar na Nossa História”,  e tem o apoio da Secretaria Municipal da Indústria, Comércio e Turismo, da Câmara de Vereadores de FW e da empresa Conceito A. As fotografias têm caráter amador e foram captadas pelo público em geral.</p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item"  style="height: 240px;">
                           <div class="container">
                              <div class="carousel-caption">
                                 <div class="row">
                                    <div class="col-md-8 offset-md-2" >
                                       <div class="test_box">
                                          <h4>Saiba mais</h4>
                                          <p> Saiba mais: <a href="https://www.ufsm.br/unidades-universitarias/frederico-westphalen/eventos/calendario-ufsm-fw-2023/"> Clicando aqui</a></p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>


      <section class="Features" id="apoiadores">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Apoiadores</h2>
                  </div>
               </div>
            </div>
            <div class="row center">
               <div class="col-md-12">
                  <div id="myCarousel2" class="carousel slide people_Carousel " data-ride="carousel">
                     <ol class="carousel-indicators">
                        <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel2" data-slide-to="1"></li>
                        <li data-target="#myCarousel2" data-slide-to="2"></li>     
                        <li data-target="#myCarousel2" data-slide-to="3"></li>  
                        <li data-target="#myCarousel2" data-slide-to="4"></li>  
                        <li data-target="#myCarousel2" data-slide-to="5"></li>  
                        <li data-target="#myCarousel2" data-slide-to="6"></li>  
                        <li data-target="#myCarousel2" data-slide-to="7"></li>  
                     </ol>
                     <div class="carousel-inner">
                        <div class="carousel-item active" >
                           <div class="container" >
                              <div class="carousel-caption ">
                                 <div class="row">
                                    <div class="col-md-8 offset-md-2">
                                       <div class="test_box" >
                                          <a href="https://www.fredericowestphalen-rs.com.br/"> 
                                             <img src="{% static 'images/logo fw.png' %} " style="width: 100%;" alt="">
                                          </a>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                           <div class="container">
                              <div class="carousel-caption">
                                 <div class="row">
                                    <div class="col-md-8 offset-md-2">
                                       <div class="test_box">
                                          <a href="https://www.conceitoaformaturas.com.br/">
                                             <img src="{% static 'images/logoconceito.jpg' %} "  style="width: 80%; height: 200px;"   alt="" class="conceitoa">
                                          </a>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                           <div class="container">
                              <div class="carousel-caption">
                                 <div class="row">
                                    <div class="col-md-8 offset-md-2">
                                       <div class="test_box">
                                          <a href="">
                                             <img  src="{% static 'images/logosala.png' %} " style="width: 70%;"  alt="">
                                          </a>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                           <div class="container">
                              <div class="carousel-caption">
                                 <div class="row">
                                    <div class="col-md-8 offset-md-2">
                                       <div class="test_box">
                                          <a href="https://www.fredericowestphalen.rs.leg.br/">
                                             <img src="{% static 'images/legislativo.jpg' %} " style="width: 60% ; height:200px;"  alt="">
                                          </a> 
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                           <div class="container">
                              <div class="carousel-caption">
                                 <div class="row">
                                    <div class="col-md-8 offset-md-2">
                                       <div class="test_box">
                                          <a href="https://admau.org.br/">
                                              <img  src="{% static 'images/admau.jpg' %} " style="width: 40%; height: 40%;" alt="">
                                          </a>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                           <div class="container">
                              <div class="carousel-caption">
                                 <div class="row">
                                    <div class="col-md-8 offset-md-2">
                                       <div class="test_box">
                                          <a href="https://www.ufsm.br/unidades-universitarias/frederico-westphalen/">
                                              <img  src="{% static 'images/ufsm.png' %} " style="width: 30%; height: 30%;" alt="">
                                          </a>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                           <div class="container">
                              <div class="carousel-caption">
                                 <div class="row">
                                    <div class="col-md-8 offset-md-2">
                                       <div class="test_box">
                                          <a href="https://www.ufsm.br/cursos/graduacao/frederico-westphalen/sistemas-de-informacao/">
                                              <img  src="{% static 'images/silogo.png' %} " style="width: 50%;" alt="">
                                          </a>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                           <div class="container">
                              <div class="carousel-caption">
                                 <div class="row">
                                    <div class="col-md-8 offset-md-2">
                                       <div class="test_box">
                                          <a href="https://radardoturismo.com.br/">
                                             <img  src="{% static 'images/radar.png' %} " style="width: 50%; height: 75%;" alt="">
                                          </a>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                  </div>
               </div>
            </div>
         </div>

      </section> 
      <section>
            <div class="copyright">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12">
                        <p>© 2022 UFSM - FW </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="{% static 'js/jquery.min.js' %} "></script>
      <script src="{% static 'js/popper.min.js' %} "></script>
      <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'js/jquery-3.0.0.min.js'%} "></script>
      <script src="{% static 'js/plugin.js' %}"></script>
      <script src="{% static 'js/app.js' %}"></script>
      
      <!-- sidebar -->
      <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
      <script src="{% static 'js/custom.js'%} "></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
   </body>
</html>

