{% load static %}
{% load  bootstrap4 %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-7J47JYVBVS"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-7J47JYVBVS');
</script>
<link rel="icon" href="{% static 'img/favicon.ico' %} ">
{% block title %}
	<title>Concuroso De fotografia - UFSM-FW </title>
{% endblock title %}
<link href="{% static 'css/bootstrap.min.css' %} " rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">

<link href="{% static 'css/mediumish.css' %}" rel="stylesheet">
</head>
<body>
{% include 'navHome.html' %}
<!-- {% bootstrap_messages %} -->
<div class="container">
	<div class="mainheading">
		<h1 class="sitetitle">Bem Vindo ao Concurso Fotográfico </h1>
		<p class="lead">
			votação promovida pela ufsm - 
		</p>
	</div>
</div>
	<img src="{% static 'images/banner_SITE_VOTACAO.png' %}" alt="">
    <div class="row">
        <div class="col-md-8 mx-auto social-container my-2 order-md-1">
            <button class="btn btn-primary mb-2">
                <a href="{% url 'social:begin' 'google-oauth2' %}">Login With Google</a>
            </button>
			<button class="btn btn-primary mb-2">
                <a href="{% url 'social:begin' 'facebook' %}">Login With Facebook</a>
            </button>
        </div>
    </div>
    <div class="container"></div>
<div class="container">
	<div class="footer">
		<p class="pull-left">
			 Copyright &copy; 2022 UFSM-FW
		</p>
		<p class="pull-right">	 
		</p>
		<div class="clearfix">
		</div>
	</div>
</div>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="{% static  'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/ie10-viewport-bug-workaround.js' %} "></script>
<a href="https://www.iubenda.com/privacy-policy/84068681" class="iubenda-white iubenda-noiframe iubenda-embed iubenda-noiframe " title="Política de Privacidade ">Política de Privacidade</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
</body>
</html>


